.edition {
  padding-top: 80px;
  background: url("../img/edition/edition-bg.jpg") 50% 0% / cover no-repeat;
  color: var(--fonts-secondary-color);
}

.container_edition {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  min-width: 0;
}

.edition__header {
  margin-bottom: 16px;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 340px;
  margin-right: 50px;
  /* padding: 20px 30px 30px; */
}

.checkbox__head {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--fonts-secondary-color);
}

.checkbox__label {
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
  line-height: 2;
}

.checkbox {
  display: none;
}

.checkbox__marker {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  transform: translateY(-50%);
}

.checkbox:checked + .checkbox__marker::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* left: 3px; */
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.checkbox:checked ~ .checkbox__label {
  /* outline: 3px solid blue; */
}

.checkbox__head_price {
  margin-top: 27px;
  margin-bottom: 10px;
}

.checkbox__price {
  display: flex;
  justify-content: space-between;
  width: 341px;
  padding: 0 19px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price__label {
}

.price__input {
  width: 82px;
  padding: 10px;
  background: rgba(157, 92, 208, 0.5);
}

.edition__slider {
  position: relative;
}
.swiper-container {
}
.slider__navigation_edition {
  position: absolute;
  top: -200px;
}
.swiper-button-prev {
}
.slider__pagination_edition {
}
.swiper-button-next {
}
.edition__slides {
}
.swiper-wrapper {
}
.edition-card {
}
.edition-card__img {
}
.edition-card__body {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.edition-card__text {
}
.edition-card__header {
  display: block;
  font-size: 1.6rem;
  color: var(--fonts-secondary-color);
}
.edition-card__price {
  font-style: italic;
}
.edition-card__btn {
  padding: 10px 20px;
}
