.gallery {
  margin-top: -9px;
  background: url("../img/gallery/gallery-background.jpg") 50% / cover no-repeat;
}

.gallery__container {
  padding-top: 80px;
  padding-bottom: 72px;
  color: var(--fonts-secondary-color);
}

.gallery__header {
  margin-left: -3px;
  margin-bottom: 20px;
}

.colum-left {
  flex: 0 0 449px;
}

.gallery__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 757px;
  letter-spacing: 0.3px;
}
.gallery__colum-left {
  width: 25%;
}

.bod__filter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filter__header {
  margin-top: -4px;
  margin-bottom: 10px;
  font-weight: 600;
}

.bod__filter > .choices {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  min-height: 39px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: transparent;
}

.bod__filter.choices__inner {
  padding: 0px 16px 0px 12px;
  background-color: transparent;
  font-size: 1.6rem;
}

.menu-item__authors {
}

.filter__direction {
}

.filter__technics {
}

.bod__text {
  padding-right: 20px;
}

.colum-left__link {
}

.link {
}
.gallery__colum-right {
  max-width: 72%;
}

.gallery-slider.swiper-container {
  width: 100%;
  height: calc(100% + 85px);
  min-width: 0;
  margin-top: -85px;
  margin-left: 0;
  margin-right: -50px;
}

.gallery-slider.swiper-container > .swiper-wrapper {
  height: 750px;
}

.slider__navigation {
  display: flex;
  width: 130px;
  margin-top: 25px;
  margin-left: -4px;
  margin-bottom: 28px;
}

.slider__navigation > .swiper-button-next,
.slider__navigation > .swiper-button-prev {
  position: relative;
  margin-top: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.slider__navigation_gallery > .swiper-button-next,
.slider__navigation_gallery > .swiper-button-prev,
.slider__navigation_edition > .swiper-button-next,
.slider__navigation_edition > .swiper-button-prev {
  left: 4px;
  right: 0;
}
.slider__navigation > .swiper-button-next:after,
.slider__navigation > .swiper-button-prev:after {
  margin-top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #666;
  font-size: 1rem;
  line-height: 3rem;
  color: var(--fonts-secondary-color);
}

.slider__pagination {
  text-align: center;
  color: var(--fonts-secondary-color);
}

.gallery__item {
  height: calc((100% - 50px) / 2);
}
.gallery-slider__img {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery__item::after {
  position: absolute;
  content: "";
  top: 14.3%;
  right: 14.3%;
  bottom: 14.3%;
  left: 14.3%;
  background: url("") 50% no-repeat;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color, background 0.3s ease-in-out;
}
.gallery__item:hover::after {
  background: url("../img/gallery/icon-magnifier.svg") 50% no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery__item:hover {
  /* border: 2px solid #fff; */
}
