@media (max-width: 1920px) {
  .container {
    padding-left: calc(12.28vw - 75.714px);
    padding-right: calc(12.28vw - 75.714px);
  }

  .header__item {
    margin-right: calc(5.56vw - 41.667px);
  }

  .come-in {
    margin-left: calc(21.84vw - 199.31px);
  }

  .head-down__menu-item {
    margin-right: calc(8.33vw - 65px);
  }

  .header__solutions {
    padding-right: calc(83.04vw - 586.29px);
  }

  .about-us__body {
    padding-right: calc(58.15vw - 595.43px);
  }
}

@media (max-width: 1200px) {
  .header {
    font-size: 1.6rem;
  }

  .header__item {
    margin-right: 25px;
  }

  .head-down {
    font-size: 1.4rem;
  }

  .head-down__menu-item {
    margin-right: 35px;
  }

  .head-down__menu-item::after {
    top: 8px;
  }

  .search__input {
    width: 180px;
  }

  .search__input::placeholder {
    font-size: 1.4rem;
  }
  .gallery-slider.swiper-container {
    height: 710px;
  }
}

@media (max-width: 1050px) {
  .body_lock {
    overflow: hidden;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header {
    display: flex;
  }

  .header-slider.swiper-container {
    height: 768px;
  }

  .header__burger {
    display: block;
    order: 0;
  }
  .burger__menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: -768px;
    left: 0;
    right: 0;
    height: 768px;
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
    -webkit-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
  }
  .burger__menu.burger__menu_activ {
    top: 0;
  }
  .header__menu {
    z-index: 1900;
    display: block;
    padding-top: 46px;
    line-height: 6.4rem;
    font-size: 2.4rem;
    font-weight: 600;
    overflow: auto;
    margin-left: -2px;
  }
  .logo {
    margin: 29px 0;
  }
  .logo__img {
    width: 188px;
  }
  .come-in.btn {
    margin-left: 0;
    margin-top: 113px;
    padding: 28px 91px 28px 86px;
    letter-spacing: 1.5px;
  }
  .come-in__svg {
    margin-right: 8px;
  }

  .header__search:hover .search__input,
  .header__search:focus .search__input,
  .search__input:focus,
  .search__input:active {
    margin-left: 9px;
    width: 180px;
  }
  .search__input {
    margin-left: 0;
    width: 0;
    transition: width 0.5s, margin-left 0.5s;
    -webkit-transition: width 0.5s, margin-left 0.5s;
  }
  .header__search {
    margin-left: 0;
    transition: width 0.5s, margin-left 0.5s;
    -webkit-transition: width 0.5s, margin-left 0.5s;
  }
  .header__search:hover,
  .header__search:focus,
  .header__search:focus-within,
  .header__search:active {
    margin-left: -189px;
  }
  .head-down {
    display: none;
  }
  .header__solutions {
    top: 142px;
  }
  .solutions__tagline {
    margin-top: 12px;
    padding-right: calc(97.66vw - 750px);
    line-height: 1.9;
    letter-spacing: 1.6px;
  }
  .solutions__button {
    margin-top: 134px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 930px) {
}

@media (max-width: 768px) {
}

@media (max-width: 650px) {
}

@media (max-width: 510px) {
}
