.projects {
  min-width: 0;
}
.projects__header {
  margin-bottom: 15px;
}

.projects__text {
}

.projects__tooltip {
  position: relative;
  display: inline-block;
  width: 18px;
}
.projects__tooltip::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: -14px;
  background: url("../img/projects/i.svg") 50% no-repeat;
  background-color: var(--main-highlight-color);
  border-radius: 50%;
  cursor: pointer;
}

.projects__tooltip_one {
  /* width: 150px;
  background: #CACACA; */
}

.projects__header-h3 {
}

.projects__slaider {
  max-width: 1450px;
}

.swiper-container {
}
.slider__navigation_projects {
}

.projects-slaider-prev {
}

.projects-slaider-next {
}

.projects__slaids {
}

.swiper-wrapper {
}

.projects__slaid {
}
