/* Настройки таб меню*/
.jsTabsMenu {
  /* margin-bottom: -1px;*/
  overflow: hidden;
}
.jsTabsMenu li {
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.jsTabsMenu .jsActiveTab {
  /* color: #fff;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #3b99fc; */
}
.jsTabsContainer > .tab__Item {
  display: none;
  margin-bottom: 50px;
  padding: 20px;
  border: solid 1px #3b99fc;
  -webkit-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
}
/* Настройки таб меню*/
.jsTabsMenu1 {
  /* margin-bottom: -1px;*/
  overflow: hidden;
}
.jsTabsMenu1 li {
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.jsTabsMenu1 .jsActiveTab {
  /* color: #fff;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #3b99fc; */
}
.jsTabsContainer1 > .tab__Item {
  display: none;
  margin-bottom: 50px;
  padding: 20px;
  /* border: solid 1px #3b99fc;
  -webkit-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px; */
}
